
body {
  font-family: 'Roboto', sans-serif;
}
.hero, footer {
  background-color:#1F2937;
}
footer {
  padding: 40px;
  color: white;
  text-align: center;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9fAf8;
  margin-right: 50px;
  margin-bottom: 0;
}
.hero-secondary-text, a {
  font-size: 18px;
  color: #E5E7EB;
}
a {
  text-decoration: none;
}
.hero-secondary-text {
  margin-right: 40px;
}
.header-logo-text {
  font-size: 24px;
  color:#F9FAF8;
}
button {
  background-color: #3882F6;
  color:#F9FAF8;
  padding: 10px 30px;
  font-weight: bold;
  font-size: large;
  border-radius: 15px;
  border-color: #3882F6;
  border-style: solid;
}
.call-to-action {
  background-color:#3882F6 ;
  border-radius: 10px;
  margin: 100px;
  padding: 30px;
  display: flex;
  color: white;
  justify-content: space-around;
}
.call-text h2 {
padding-bottom: 0;}
.call-to-action button {
  border: solid;
  height: fit-content;
  align-self: center;
}
.information h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2739;
  text-align: center;
}
.gallery {
  display: flex;
  gap: 50px;
  padding: 10px 10px 100px 10px;
  justify-content: center;
}
figcaption {
  text-align: center;
  font-size: large;
  margin-top: 5px;
}
.img {
  border: 5px solid rgb(0, 115, 255);
  border-radius: 20px;
  width: 200px;
  height: 200px;
}
.quote {
  background-color: #E5E7EB;
  padding: 100px 200px;
}
.quote h1 {
  font-size: 36px;
  font-style:italic;
  font-weight:lighter;
  color: #1f2137;
}
.quote h3 {
  text-align: right;
  font-weight: bolder;
  font-size:x-large;
}
.nav, ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  
  list-style-type: none;
}
.hero-section {
  display: flex;
  padding: 100px 150px;
}
.hero-image {
  background-color: gray;
  flex: 1;
}
img {
  width: 100%;
  height: 100%;
}
.hero-content {
  flex: 1;
}
